/* #Site Styles
================================================== */
h1 { white-space: nowrap; }
img.middle { vertical-align: text-bottom; }

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
	border: 1px solid #ccc;
	padding: 6px 4px;
	outline: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777;
	margin: 0;
	width: 210px;
	max-width: 100%;
	display: inline;
	margin-bottom: 20px;
	background: #fff; }

#siteSets a {
	font-weight: bold;
	text-decoration: none; }
#siteSets a:hover { color: #54aed4; }
#siteSets img { opacity: 0.3; }
#siteSets img:hover { opacity: 1; }

#favoriteSites img { opacity: 0.3; }
#favoriteSites img:hover { opacity: 1; }

.footer {
	margin-top: 20px;
	font-size: 12px;
	color: #ccc;
}
.footer a { color: #ccc; }
.footer a:hover { color: #54aed4; }

.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		img.middle { display: block; margin: 0 auto; }
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/